*{
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    height: 100px;
    background-color: violet;
    width: 100%;
    margin: auto;
}

footer{
    margin-top: 520px;

}

main{
    width: 80%;
    margin: auto;
}

.corpo{
    height: 300px;
    background-color: rgb(204, 204, 108);
    width: 100%px;
    margin-top: 10px;
}

.float{
    float: left;
    margin-top: 10px;
}

aside{
    height: 500px;
    background-color: lightblue;
    width: 300px;
}

.due{
    height: 500px;
    width: 500px;
    background-color: lightblue;
    margin-left: 57px;
}

.tre{
    float: right;

}