*{
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    height: 100px;
    background-color: violet;
    width: 100%;
    margin: auto;
}

footer{
    margin-top: 520px;

}

.container{
    width: 80%;
    margin: auto;
}

.corpo{
    height: 300px;
    background-color: rgb(204, 204, 108);
    width: 100%px;
    margin-top: 10px;
}

.float{
    margin-top: 10px;
    display: inline;
    float: left;
    height: 500px;
    margin-top: 10px;
}

aside{
    background-color: lightblue;
    width: 300px;
}

.due{
    width: 400px;
    background-color: lightblue;
    margin: 0% 5%;
    margin-top: 10px;
}

.tre{
    width: ;
}